<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Festival regio's</title>
  </head>

  <body>
    <main>
      <div class="container regionsContainer">
        <div class="row mt-2">
          <div class="col">
            <h1>Paarspop</h1>
          </div>
        </div>
        <div class="row mt-2" id="menuDiv">
          <div class="col-4" id="configbtnContainer"></div>
          <div id="regionMenu" class="col"></div>
        </div>
      </div>

      <div class="container formScreen" style="display: none">
        <div class="row mt-2">
          <div class="col ml-5">
            <button id="backToRegionBtn" class="btn btn-primary"></button>
            <h3 id="formTitle"></h3>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col ml-5" id="formContainer">
            <form id="form">

            </form>

          </div>
        </div>
      </div>
    </main>
    <!--<script src="js/jquery-3.5.1.min.js" integrity=""></script>-->
  </body>
</html>
