.dropZone {
  border: 2px;
  height: 100%;
  width: 100%;
  border-left-style: solid;
  border-right-style: solid;
  padding: 0px !important;
  margin: 0px !important;
}

.dropZoneRow {
  border: 2px;
  border-style: solid;
  height: 40px;
}

.tree {
  background-color: green;
  width: 30px;
  height: 30px;
}

.solid-border {
  border-style: solid !important;
  border-color: red !important;
}

.tent {
  background-color: blue;
}

.eetkraampje {
  background-color: red;
}

.drankkraampje {
  background-color: yellow;
}

.boom {
  background-color: green;
}

.toilet {
  background-color: white;
}

.prullenbak {
  background-color: green;
}