.dropZone {
  border: 2px;
  height: 100%;
  width: 100%;
  border-left-style: solid;
  border-right-style: solid;
  padding: 0px !important;
  margin: 0px !important;
}

.dropZoneRow {
  border: 2px;
  border-style: solid;
  height: 40px;
}

.solid-border {
  border-style: solid !important;
  border-color: red !important;
}

.tent {
  background-color: blue;
  color: white;
}

.eetkraampje {
  background-color: red;
  color: white;
}

.drankkraampje {
  background-color: yellow;
  color: red;
}

.boom {
  background-color: green;
  color: white;
}

.toilet {
  background-color: orange;
  color: black;
}

.prullenbak {
  background-color: black;
  color: white;
}